img:hover {
    transition: all .5s;
    transform:scale(1.1);
    filter:contrast(70%)
}

.welcome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white; /* optional typing cursor */
    animation: Welcoming 2s linear infinite alternate; /* 5 = number of words */
}

@keyframes Welcoming {
    from { 
        width: 0;
    }
    to {    
        width: 33%;
    }
}

.footer {
    font-size: 1.3rem;
    background-color: rgb(23, 42, 48);
    color: white;
   
}

@media (max-width: 600px) {
   .welcome {
     font-size: 1rem;
    } 
    @keyframes Welcoming {
        from { 
            width: 0;
        }
        to {    
            width: 58%;
        }    
    }
    .footer {
    font-size: 1rem;
    }

  

}